<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
{{>navbar}}

<!-----------Main Header ------------->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!----------- Left Side Div ------------->
                <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="img/p.jpg" alt="ar" class="img-fluid" title="WeatherOfficial">
                    </figure>
                </div>
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome To Weather App</p>
                    <h1>I am a <span class="txt_clr"> MERN Stack Developer </span> </h1>
                    <a href="https://www.facebook.com/profile.php?id=100004472463357" target="_ar"><button>About Me</button></a>
                </div>
                 <!----------- Right Side Div ------------->
               
            </div>
        </div>
    </div>
</div>
<!----------- Footer Code ------------->
{{>footer}}
</body>
</html>